body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    margin: 0px;
    font-family: Roboto, Arial;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.search {
    font-size: 16px;
    flex: 1;
    max-width: 500px;
}

.left-section {
    width: 140px;
    margin-right: 80px;
}

.right-section {
    width: 200px;
    margin-left: 40px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 50px;
}


.thumbnail {
    width: 100%;
    margin-bottom: 10px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 16px;
}

.author-dp {
    width: 100%;
    border-radius: 100px;
}

.video-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;
}

.video-stat,
.video-author {
    column-rule-color: rgb(96, 96, 96);
    font-size: 14px;
}

.video-author {
    margin-bottom: 6px;
}