body {
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    font-size: 20px;
    display: block;
}

.thumbnail {
    width: 400px;
}

.video-title {
    width: 400px;
}
 
.video-preview {
    width: 400px;
    display: inline-block;
    margin-left: 15px;
}
